@import '../../../style/input.less';

.gm-excel-editable-input-number {
  input{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    .gme-common-input();
    .gme-common-input-text-style();
    width: 100px;
  }
}