
@import '../../../style/input.less';
@import '../../../../../components/table/style/theme.less';
@import '../../../../../components/table/style/function.less';


.gm-search-select-container {
  .gm-more-select-selected {
    padding: 0;
    .gme-common-input();
    width: 168px;
    .gm-more-select-selected-item{
      width: 100%;
      &>div.gm-flex-column{
        display: inline-block;
        .gme-common-input-text-style();
        height: @GME-common-input-height;
        line-height: @GME-common-input-height;
      }
    }
  }

}