@import '../../../style/input.less';
@import '../../../../../components/table/style/theme.less';
@import '../../../../../components/table/style/function.less';



.gm-web-table-cell-container {
  &>div.gm-web-table-cell {
    &>.gm-search-select-container {
      .gm-more-select-selected {
        .gme-common-input();
        padding: 0;
        width  : 168px;

        // background: transparent; // NOTICE 忘了干什么的
        .gm-more-select-selected-item {
          width: 100%;

          &>div.gm-flex-column {
            display: inline-block;
            .gme-common-input-text-style();
            height     : @GME-common-input-height;
            line-height: @GME-common-input-height;
          }
        }
      }

      .gm-more-select {
        .gm-more-select-clear-btn {
          padding: 0;
          right  : 7px;
        }
      }

    }
  }
}

.gm-refund-table--more-select-popover {
  .gm-list {
    .gm-list-item {
      &.will-active {
        background-color: @GME-list-group-hover-bgColor;
      }
    }
  }
}

.cell-orderName{
  .gm-web-table-cell{
    width: 100%;
    .gm-search-select-container {
      .gm-more-select {
        &>input {
          .gme-common-input();
          width: 100%;
          overflow     : hidden;
          white-space  : nowrap;
          text-overflow: ellipsis;
          min-width: 98px;
          max-width: 168px;

        }
      }
    }
  }
}

