


.data-grid-container{
  table.gm-react-data-sheet{
    tbody tr{
      td.cell{
        display: inline-block;
        height: 100%;
      }
      .row-handler{
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        cursor: move;
      }
    }
  
  }
}
