@import '../../style/function.less';
@import '../../style/theme.less';
@import '../../style/selector.less';


// 业务通用
@{table-any-head-cell-selector},
@{table-any-body-cell-selector} {
  white-space: unset;
  word-break : break-all;

  // react-table cell flex 由 column.minWidth决定，改写此值变为等比缩放
  flex: 1 0 auto !important;
  // 移除 border
  border-right: none;
  padding: 0;
  .table-cell-container();
  box-sizing: content-box;
}

.table-cell-container {
  padding: 12px 0;
  .dynamic-screen-cell-padding();
}

// Header-cell
@{table-any-head-cell-selector} {
  text-align      : left;
  background-color: @GME-title-background-color;
}
// 垂直居中
.ReactTable .rt-thead .rt-th {
  &>div {
    position: relative;
    height  : 100%;
  }
}
.ReactTable .rt-thead .rt-td {
  &>div {
    position: relative;
    height  : 100%;
  }
}


// hover
.gm-excel-table:not(.-onEditing) {

  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover{
    background: transparent;
  }
  //.rthfc.-highlight .rt-tr:hover .rt-td {
  //  background-color: rgba(242,243,249, 0.5);
  //}

  .rthfc.-highlight .rt-tbody .rt-tr:hover {
    .rt-td.rthfc-td-fixed {
      // background-color: #fff;
      // .gm-web-table-cell-container{
      //   background-color: rgba(242,243,249, 0.5);
      // }
    }
  }

}

// remove fix header
.gm-excel-table {
  .ReactTable {
    .rt-table {
      .rt-thead {
        position  : relative;
        box-shadow: none;
      }
    }
  }
}


// Body Cell
@{table-any-body-cell-selector} {
  &>div.gm-web-table-cell-container{
    &>div.gm-web-table-cell {
      position: relative;
      flex-shrink: 0;
    }
  }
}


// 字体
@{table-any-head-cell-selector} {
  font-size  : @GME-content-font-size;
  font-family: @GME-title-font-family;
  color      : @GME-text-color;
}

@{table-any-body-cell-selector} {
  font-size  : @GME-content-font-size;
  font-family: @GME-content-nondigit-text-font-family;
}


.rt-th.rthfc-th-fixed-left-last,
.rthfc .rt-th.rthfc-th-fixed-left-last,
.rthfc .rt-td.rthfc-td-fixed-left-last {
  border-color: rgba(0, 0, 0, 0.05);
}

// fixed
.rt-th.rthfc-td-fixed,
.rt-td.rthfc-td-fixed,
.rt-th.rthfc-th-fixed,
re-td.rthfc-th-fixed {
  box-sizing: border-box !important;
  padding: 12px 8px !important;
}
