
@tale-any-head-row-selector: ~'.ReactTable .rt-thead .rt-tr';
@tale-any-body-row-selector: ~'.ReactTable .rt-tbody .rt-tr';

@table-any-cell-selector: ~'.ReactTable .rt-th, .ReactTable .rt-td';

@table-any-head-cell-selector: ~'.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td';
@table-any-body-cell-selector: ~'.ReactTable .rt-tbody .rt-tr .rt-td';