@import './selector.less';
@import './theme.less';


@cell-height: 60px;

@{table-any-body-cell-inner-selector} {
  display: inline-block;
  position: relative;
  min-height : @cell-height;
  line-height: @cell-height;
}

@{table-any-head-cell-selector} {
  background-color: #F2F3F9;
  height: 40px;
}

@{table-any-body-row-selector} {
  &>td:nth-child(1) {
    text-align: center;
  }
}