@import '../../../components/table/style/function.less';

.cell-orderName{
  .gm-web-table-cell{
    width: 100%;
    height: 100%;
  }
}


.gm-excel-table{
  .gm-excel-table{
    .refund-excel-svg{
      .Center(true, true);
      width: 14px;
    }
  }
  .refund-excel-action-header-svg{
    color: #36AD3A;
  }

  .refund-excel-delete-svg {

  }
  .refund-excel-delete-clicked-svg {
    
  }
  .refund-excel-add-svg {
    
  }
  .refund-excel-add-clicked-svg {
    
  }
}

