@import '../../../components/table/style/function.less';

// NOTICE 忘记这个做什么 将会影响垂直居中
// .cell-orderName {
//   .gm-web-table-cell {
//     width : 100%;
//     height: 100%;
//   }
// }


#_GM_TABLE_SCROLL_Y_CONTAINER_refund-excel {

  .refund-excel-action-header-svg {
    color: #36AD3A;
  }

  .refund-excel-delete-svg {
    width : 18px;
    height: 18px;
    color : rgba(106, 170, 70, 0.3);

    &:hover {
      color: rgba(106, 170, 70, 1);
    }
  }

  .refund-excel-add-svg {
    width       : 18px;
    height      : 18px;
    color       : rgba(219, 0, 0, 0.3);
    margin-right: 18px;

    &:hover {
      color: rgba(219, 0, 0, 1);
    }
  }

  // TODO check
  .gm-select-batch-anomaly{
    :global .gm-trigger {
      display: inline-block;
    }
  }


}